{% extends "clientes/base_clientes.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">    
  
  <div class="row">
    <div class="col">
      {% url 'agregar_cliente' as agregar_cliente_url %}
      {% url 'buscar_cliente' as buscar_cliente_url %}
      {% url 'clientes' as clientes_url %}
      {% bootstrap_button "Agregar Cliente" button_class="btn-success" button_type="link" href=agregar_cliente_url %} 
      {% bootstrap_button "Buscar Cliente" button_class="btn-success" button_type="link" href=buscar_cliente_url %}  
      {% bootstrap_button "Lista Cliente" button_class="btn-success" button_type="link" href=clientes_url %}  
    <div>
  <div>

  <div class="row">
    <div class="col">
        {% if clientes %}
        <table class="table">
            <thead>
                <th scope="col">Identificador</th>
                <th scope="col">Empresa</th>
                <th scope="col">CUIT</th>
                <th scope="col">Contacto</th>
                <th scope="col">Cargo contacto</th>
                <th scope="col">Honorarios Mensuales</th>
                <th scope="col">Acciones</th>
            </thead>
        
            {% for c in clientes %}
            <tbody>
                <tr>
                    <th scope="row">{{c.id}} </th>
                    <td> {{c.nombre_empresa}} </td>
                    <td> {{c.cuit_empresa}} </td>
                    <td> {{c.nombre_contacto}} </td>
                    <td> {{c.cargo_contacto}} </td>
                    <td> $ {{c.cobro_mensual_honorarios}} </td>
                    {% url 'borrar_cliente' identificador=c.id as borrar_cliente_url %}
                    <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_cliente_url %}</td>
                </tr>  
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p>No tienes clientes cargados</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}