{% extends "index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">    
  
  <div class="row">
    <div class="col">
      {% url 'clientes' as clientes_url %} <br>
      {% url 'empleados' as empleados_url %}<br>
      <br>{% bootstrap_button "CLIENTES" button_class="btn-success" button_type="link" href=clientes_url %} 
      <br><br>{% bootstrap_button "EMPLEADOS" button_class="btn-success" button_type="link" href=empleados_url %} <br><br>
    <div>
  <div>

  <div class="row">
    <div class="col">
        {% if empleados %}
        <table class="table">
            <thead>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">DNI</th>
                <th scope="col">Acciones</th>
            </thead>
        
            {% for e in empleados %}
            <tbody>
                <tr>
                    <th scope="row">{{e.id}} </th>
                    <td> {{e.nombre}} </td>
                    <td> {{e.apellido}} </td>
                    <td> {{e.email}} </td>
                    <td> {{e.fecha_nacimiento}} </td>
                    <td> {{e.dni}} </td>
                    {% url 'borrar' identificador=e.id as borrar_url %}
                    <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
                </tr>  
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p>Seleccione a donde quiere ingresar</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}