{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<ul class="nav fixed">
<div class="container">   
    <a class="col" href="{%url  'home' %}"><br> <h3> Empresa de Servicios de Asesoría </h3> </a>
  </li>
</ul>
<div class="container">    
  
  <div class="raw">
    <div class="col">
      {% url 'clientes' as clientes_url %} <br>
      {% url 'empleados' as empleados_url %}<br>
      {% url 'horas_clientes' as horas_clientes_url %}<br>
      <br>{% bootstrap_button "CLIENTES" button_class="btn-success" button_type="link" href=clientes_url %} 
      <br><br>{% bootstrap_button "EMPLEADOS" button_class="btn-success" button_type="link" href=empleados_url %} 
      <br><br>{% bootstrap_button "CARGAR HORAS" button_class="btn-success" button_type="link" href=horas_clientes_url %} <br><br>
    <div>
  <div>

  <div class="row">
    <div class="col">
        {% if empleados %}
        <table class="table">
            <thead>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">DNI</th>
                <th scope="col">Acciones</th>
            </thead>
        
            {% for e in empleados %}
            <tbody>
                <tr>
                    <th scope="row">{{e.id}} </th>
                    <td> {{e.nombre}} </td>
                    <td> {{e.apellido}} </td>
                    <td> {{e.email}} </td>
                    <td> {{e.fecha_nacimiento}} </td>
                    <td> {{e.dni}} </td>
                    {% url 'borrar' identificador=e.id as borrar_url %}
                    <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
                </tr>  
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p><h5>Seleccione a donde quiere ingresar</h5></p>
        {% endif %}
    </div>
  </div>
</div>


<!-- <esto es el pie/ footer > -->
<ul class="nav bg-dark fixed-bottom justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/home">coder house - python 36585 - ENTREGA 1 | MENDEZ</a>
  </li>
</ul>